*.iml
.gradle
/build
/local.properties
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/shelf
/.idea/workspace.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/libraries
/.idea/caches
.DS_Store
